# Fichiers et dossiers à exclure du package VSIX
.git
.github
.vscode
.vscode-test
node_modules
out
src
test
*.config.js
**/*.map
**/*.ts
.gitignore
tsconfig.json
tsconfig.eslint.json
eslint.config.mjs
esbuild.js
bump.sh
.DS_Store
memory-bank
documentation